%h1= @doc.title
%p= @doc.content
= link_to "Todos los documentos", docs_path
= link_to "Editar documento", edit_doc_path(@doc)
= link_to "Eliminar documento", doc_path(@doc), method: :delete, data: { confirm: "¿Estas seguro?" }
